/* Center the demo */
html, body { height: 100%; }

body {
	display: flex;
	justify-content: center;
	align-items: center;
      background: black; 
}

.coin {      
    position: absolute;
    top: 27px;
    left: 525px;
   
    width: 450px;
    height: 450px;
    border-radius: 80%;
    background-image: linear-gradient(-20deg, #542a04 15%,#c46b17 50%, #8a430f 86%);
    box-shadow: 0px -2px 0px 0px black;
}

/*
.coin:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -8px; 
      border-radius: 80%;
      background: linear-gradient(to right, blue, green);
      box-shadow: 0px -1px 1px 1px white, 1px 1px 3px 1px black, inset 25px -14px 24px -16px red;
}*/

.coin:after {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -12px; 
      border-radius: 80%;
      background: #f3cd44;   
      border: 2px dashed black;
      

    
}

.coin-gab {
      background-image: url(bitcoin.png);
      background-position-x: center;
      background-size: cover;
      position: absolute;
      top: -15px;
      left: -15px;
      width: 530px;
      height: 530px;
      border-radius: 80%;
      z-index: -10;
}

.coin-message {
      z-index: 1;

}

.coin-message div {
      position: absolute;
      width: 26rem;
      height: 26rem;
      top:0;left:0;bottom:0;right:0;
      margin: auto;
      border-radius: 50%;
      transform: rotate(-79deg);
}

.coin-message div > span:first-child {
      transform: translatex(13rem);
}

.coin-message span {
      width: 0;
      height: 26rem;
      position: absolute;
      top: 0; left: 0;
      font-size: 16px;
      color: #f3cd44;
      text-align: left;
      line-height: 0;
      transform: rotate(3.8deg);
      vertical-align: top;
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 100;
}

.bitcoin-symbol {
      position: absolute;
      top: 0;
      z-index: 12;
      width: 460px;
      left: 0;
      height: 460px;
      background: #f3cd44;
      clip-path: polygon(28% 71%, 40% 72%, 40% 80%, 46% 80%, 46% 71.5%, 49% 71.5%, 49% 80%, 56% 80%, 56% 72%, 55.5% 28%, 55.5% 18%, 49% 18%, 49% 28%, 45% 28%, 45% 18%, 39% 18%, 39% 28%, 27% 28%, 27% 34.5%, 35% 34.5%, 35% 64%, 29.5% 64%);
}

.bitcoin-symbol:after {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: 8px 13px;
      background-image: linear-gradient(-20deg, #8a430f 15%,#c46b17 50%, #8a430f 86%);
      clip-path: polygon(28% 71%, 40.5% 72%, 40.5% 80.3%, 45% 80.3%, 45% 71.5%, 50% 71.5%, 50% 80.3%, 55% 80.3%, 55% 73%, 55% 72%, 62% 71%, 66% 69%, 70% 66%, 73% 62%, 74% 58%, 73% 55%, 72% 52%, 72% 51%, 68% 48%, 65% 47%, 69% 43%, 70% 40%, 71% 35%, 67% 31%, 58% 27%, 57% 37%, 63% 28%, 55% 28%, 55% 18%, 50% 18%, 50% 28%, 44% 28%, 44% 18%, 39.5% 18%, 39.5% 28%, 27% 28%, 27% 33%, 35% 33%, 35% 65.5%, 29% 65.5%);
}

.b-ellipse-1 {
  width: 111px;
  position: absolute;
  top: 132px;
  left: 247px;
  z-index: 11;
  height: 115px;
  background: #f3cd44;
  clip-path: ellipse(63% at 9% 41%);
}

.b-ellipse-1:after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: 8px 13px;
  background-image: linear-gradient(-20deg, #8a430f 15%,#c46b17 50%, #8a430f 86%);
  clip-path: ellipse(63% at 9% 41%);
}

.b-ellipse-2 {
  width: 111px;
  position: absolute;
  top: 199px;
  left: 246px;
  z-index: 11;
  height: 172px;
  background: #f3cd44;
  clip-path: ellipse(84% at -7% 38%);
}

.b-ellipse-2:after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: 8px 13px;
  background-image: linear-gradient(-20deg, #8a430f 15%,#c46b17 50%, #8a430f 86%);
  clip-path: ellipse(84% at -7% 38%);
}

.path {
      clip-path: circle(50% at 50% 50%);
      position: absolute;
      background: #f9ff05;
}

.path-1 {
      top: 33px;      
      left: 33px;
      width: 384px;
      height: 384px;
      z-index: 1;    
}

.path-2 {
      top: 42px;
      left: 42px;
      width: 365px;
      height: 365px;
      z-index: 2; 
}

.path-3 {
      top: 48px;
      left: 48px;
      width: 353px;
      height: 353px;
      z-index: 3;  
}

.path-4 {
      top: 54px;
      left: 54px;
      width: 341px;
      height: 341px;
      z-index: 4;  
}

.path-5 {
      top: 59px;
      left: 59px;
      width: 329px;
      height: 329px;
      z-index: 5; 
}

.path-6 {
      top: 65px;
      left: 65px;
      width: 317px;
      height: 317px;
      z-index: 6;
}

.path-7 {
      top: 71px;
      left: 71px;
      width: 305px;      
      height: 305px;
      z-index: 7;    
}

.path-8 {
      top: 77px;
      left: 77px;
      width: 293px;      
      height: 293px;
      z-index: 8;    
}

.path-9 {
      top: 82px;
      left: 82px;
      width: 281px;      
      height: 281px;
      z-index: 9;    
}

.path-10 {
      top: 88px;
      left: 88px;
      width: 269px;      
      height: 269px;
      z-index: 10;    
}

.path-11{
      top: 93px;
      left: 93px;
      width: 257px;      
      height: 257px;
      z-index: 11;    
}

.path-1:after, .path-2:after, .path-3:after, .path-4:after, .path-5:after, .path-6:after, .path-7:after, .path-8:after, .path-9:after, .path-10:after, .path-11:after  {
      clip-path: circle(50% at 50% 50%);
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: 1px 1px;
      background-image: linear-gradient(-20deg, #8a430f 15%,#c46b17 50%, #8a430f 86%);
}

.dashed-border {
      position: relative;
      top: 7.5%;
      width: 85%;
      height: 85%;
      margin: 0 auto;
      font-size: 70px;
      border-radius: 250px;
      transform: rotate(123deg); 
      z-index: 10;
}

.dashed-border span {     
      width: 26px;
      background: #f3cd44;
      height: 10px;     
      line-height: 530px;
      display:  none;
      border-radius: 2px;
      top: 46px;
      left: 50px;
      position: relative;
} 

.dashed-border span:nth-of-type(1)  {
      display: block;
      transform: rotate(-46deg) translate(-2px) translateY(-2px);
}

.dashed-border span:nth-of-type(2)  {
      display: block;
      transform: rotate(-54deg) translateX(-27px) translateY(-11px);
}

.dashed-border span:nth-of-type(3)  {
      display: block;
      transform: rotate(-62deg) translateX(-51px) translateY(-21px);
}

.dashed-border span:nth-of-type(4)  {
      display: block;
      transform: rotate(-71deg) translateX(-72px) translateY(-33px);
}

.dashed-border span:nth-of-type(5)  {
      display: block;
      transform: rotate(-81deg) translateX(-89px) translateY(-48px);
}

.dashed-border span:nth-of-type(6)  {
      display: block;
      transform: rotate(-96deg) translateX(-97px) translateY(-73px);
}

.dashed-border span:nth-of-type(7)  {
      display: block;
      transform: rotate(-102deg) translateX(-113px) translateY(-83px);
}

.dashed-border span:nth-of-type(8)  {
      display: block;
      transform: rotate(-114deg) translateX(-118px) translateY(-104px);
}

.dashed-border span:nth-of-type(9)  {
      display: block;
      transform: rotate(-124deg) translateX(-124px) translateY(-120px);
}

.dashed-border span:nth-of-type(10)  {
      display: block;
      transform: rotate(-135deg) translateX(-126px) translateY(-137px);
}

.dashed-border span:nth-of-type(11)  {
      display: block;
      transform: rotate(-145deg) translateX(-129px) translateY(-152px);
}

.dashed-border span:nth-of-type(12)  {
      display: block;
      transform: rotate(-154deg) translateX(-134px) translateY(-163px);
}

.dashed-border span:nth-of-type(13)  {
      display: block;
      transform: rotate(-167deg) translateX(-127px) translateY(-183px);
}

.dashed-border span:nth-of-type(14)  {
      display: block;
      transform: rotate(-179deg) translateX(-121px) translateY(-200px);
}

.dashed-border span:nth-of-type(15)  {
      display: block;
      transform: rotate(-190deg) translateX(-116px) translateY(-214px);
}

.dashed-border span:nth-of-type(16)  {
      display: block;
      transform: rotate(-201deg) translateX(-110px) translateY(-229px);
}

.dashed-border span:nth-of-type(17)  {
      display: block;
      transform: rotate(-211deg) translateX(-107px) translateY(-241px);
}

.dashed-border span:nth-of-type(18)  {
      display: block;
      transform: rotate(-220deg) translateX(-107px) translateY(-251px);
}

.dashed-border span:nth-of-type(19)  {
      display: block;
      transform: rotate(-230deg) translateX(-103px) translateY(-264px);
}

.dashed-border span:nth-of-type(20)  {
      display: block;
      transform: rotate(-241deg) translateX(-94px) translateY(-279px);
}

.dashed-border span:nth-of-type(21)  {
      display: block;
      transform: rotate(-246deg) translateX(-111px) translateY(-285px);
}

.dashed-border span:nth-of-type(22)  {
      display: block;
      transform: rotate(-256deg) translateX(-102px) translateY(-300px);
}

.dashed-border span:nth-of-type(23)  {
      display: block;
      transform: rotate(-272deg) translateX(-58px) translateY(-323px);
}

.dashed-border span:nth-of-type(24)  {
      display: block;
      transform: rotate(-281deg) translateX(-49px) translateY(-334px);
}

.dashed-border span:nth-of-type(25)  {
      display: block;
      transform: rotate(-291deg) translateX(-32px) translateY(-346px);
}

.dashed-border span:nth-of-type(26)  {
      display: block;
      transform: rotate(-298deg) translateX(-31px) translateY(-355px);
}

.dashed-border span:nth-of-type(27) {
      display: block;
      transform: rotate(-310deg) translateX(2px) translateY(-365px);
}

.dashed-border span:nth-of-type(28)  {
      display: block;
      transform: rotate(-315deg) translateX(-7px) translateY(-373px);
}

.dashed-border span:nth-of-type(29)  {
      display: block;
      transform: rotate(-322deg) translateX(0) translateY(-380px);
}

.dashed-border span:nth-of-type(30)  {
      display: block;
      transform: rotate(-339deg) translateX(73px) translateY(-377px);
}

.dashed-border span:nth-of-type(31)  {
      display: block;
      transform: rotate(-343deg) translateX(63px) translateY(-381px);
}

.dashed-border span:nth-of-type(32)  {
      display: block;
      transform: rotate(-359deg) translateX(132px) translateY(-364px);
}

.dashed-border span:nth-of-type(33)  {
      display: block;
      transform: rotate(-9deg) translateX(162px) translateY(-350px);
}

 
  

   

